.banner {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

.banner-content {
    background-color: rgb(255, 180, 245);
    margin: 2em;
    padding: 1em 5em;
    box-shadow: 6px 6px 21px 5px #c2c2c2;
}
